body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f7f9;
}
.weather-wrapper {
  max-width: 601px;
  max-height: 772px;
  margin: 20px auto;
}
.weather {
  border: 2px solid #dadde1;
  padding: 20px;
  border-radius: 10px;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgb(206, 203, 203);
  background-image: url("../image/image.cloud.jpg");
}

.city {
  border: 1px solid #dadde1;
  margin: 0 0 20px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  background-color: #f5e9f7;
  border-color: #ab47bb;
}
.city .active {
  cursor: pointer;
}
.city .active:hover {
  text-decoration: none;
}
.block-2 {
  width: 569px;
}
.col {
  padding: 0px;
  border: 1px solid #c2c0db;
  margin: 7px;
  border-radius: 10px;
  background-color: #c2c0db;
  font-weight: normal;
}

.search {
  background-color: #f5e9f7;
  border-color: #ab47bb;
}
.current {
  width: 120px;
  background-color: #ab47bb;
  border: #ab47bb;
  padding: 5px 20px;
  color: black;
  font-weight: bold;
}
.col:hover,
small {
  cursor: pointer;
}
.current:hover,
.search:hover {
  background-color: #672eed;
}

h1,
.time,
.dayOfWeek,
.max-temperature,
.day,
.time {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.last,
.humidity,
.overcast,
.wind,
.min-temperature,
.block-2,
.search,
.active {
  color: #1f2b4e;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  display: block;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 50px;
}
.units {
  font-weight: bold;
}
.last {
  line-height: 0;
}
.day,
.time {
  font-size: 20px;
}

.humidity {
  padding-top: 6px;
}
.big-degree {
  font-size: 75px;
  color: rgb(33, 33, 33);
  font-weight: bold;
  line-height: 1;
}
.wind {
  padding-top: 40px;
}
.overcast {
  padding-top: 30px;
  text-transform: capitalize;
}
.forecast1 {
  background-color: #ab47bb;
  text-align: center;
  border: 2px solid #ab47bb;
  margin-top: 20px;
  padding-top: 40px;
}

.dayOfWeek,
.max-temperature {
  color: black;
  font-weight: bold;
  opacity: 0, 5;
  position: relative;
}
.max-temperature {
  font-size: 16px;
}
.min-temperature {
  line-height: 0;
  opacity: 0, 5;
}
